* {
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*===================================================================*/
/*============================ Header ===============================*/


header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header img {
    width: 25%;
    padding: 30px 0;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 64px;
}

/* barre grise */
header nav ul li::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #F2F2F2;
    top: 100%;
}

/* barre bleu */
header nav ul li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    top: 100%;
    left: 0%;
}

header nav ul li:hover::after,
header nav ul li:active::after {
    background-color: #0065FC;
    animation: .8s nav_before ease both;
}

header nav ul li:hover a {
    color: #0065FC;
}

header nav ul li a {
    font-size: 18px;
}

/*animation barre bleu*/
@keyframes nav_before {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/*=====================================================*/
/*========================== MAIN =====================*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/*Titre*/

main .entete {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;
}

main .titre {
    margin: 0px 10px;
}

main .titre h1 {
    font-size: 34px;
}

main .titre p {
    font-size: 26px;
    color: #555;
    margin: -5px 0;
}

/*Barre Recherche*/

main .recherche {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 81%;
    height: 60px;
    margin: 20px 10px;
    border-radius: 20px;
}

main .recherche .fa-solid {
    font-size: 26px;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
}

main .recherche input {
    width: 80%;
    height: 100%;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 800;
    color: #000;
}

main .recherche input::placeholder {
    color: #000;
    font-size: 50%;
}

main .recherche button {
    position: absolute;
    border: none;
    width: 60px;
    height: 100%;
    border-radius: 20px;
    left: 85%;
}

main .recherche button span {
    display: none;
}

main .recherche button .fa-solid {
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0065FC;
    border-radius: 20px;
}

main .recherche button:active {
    background-color: #033b91;
}

/*Filtres Barre */

.filtre_barre {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 100%;
}

.filtre_barre .filtre_titre {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.filtre_barre .filtres_bloc {
    display: flex;
    flex-flow: row wrap;
    height: 200px;
}

.filtre_barre .filtres {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding: 0 15px 0 50px;
    margin: 0 10px;
    font-size: 22px;
    font-weight: 800;
}

.filtre_barre .filtres .fa-solid {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    padding: 5px;
    left: -10px;
}

.filtres {
    cursor: pointer;
}

.filtres input[type="checkbox"] {
    display: none;
}

.filtres:hover .fa-solid {
    color: #fff;
    background-color: #033b91;
}

/*info*/
main .info {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 20px 0;
}

main .info .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    padding: 5px;
    border: 1px solid #BBB;
    border-radius: 100%;
}

main .info p {
    font-size: 24px;
    font-weight: 400;
    margin: 0 2px;
}

/*====================== SECTION ====================*/

.bloc {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*====================== HEBERGEMENT ==================*/

.hebergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    margin: 30px 0;
}

.hebergement h2 {
    margin: 20px 20px;
    font-size: 32px;
}

.containeur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

.containeur_medium {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 320px;
    overflow: hidden;
    background-color: #fff;
    margin: 15px 0;
    padding: 5px;
    border-radius: 30px;
}

.containeur img {
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;
    height: 65%;
    object-fit: cover;
}

.hebergement .containeur .containeur_medium .text {
    margin-left: 10px;
    font-size: 24px;
}

.hebergement .containeur_medium h3 {
    font-size: 26px;
}

.hebergement .more {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    margin: 20px 20px;
    width: 160px;
}

.hebergement .more:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    left: 0;
    top: 30px;
    border-radius: 3px;
}

/*================= LES PLUS POPULAIRES ====================*/

.bloc aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #F2F2F2;
    padding: 50px 0;
}

.bloc aside .titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 15px 0;
}

.bloc aside .titre h2 {
    margin: 20px 0px;
    font-size: 32px;
}

.bloc aside .titre .bx

/*petite etoile*/
    {
    font-size: 32px;
}

.containeur_petit {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 250px;
    background-color: #FFF;
    border-radius: 30px;
    padding: 5px;
    margin: 10px 0;
}

.containeur_petit img {
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.containeur_petit .text {
    width: 60%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containeur_petit .text h3 {
    font-size: 26px;
}

.containeur_petit .text p {
    font-size: 24px;
}

.containeur_petit .text_titre {
    display: flex;
    flex-direction: column;
}

/*Etoiles*/
.rating {
    display: flex;
    flex-direction: row;
}

.rating .fa-star {
    color: #0065FC;
    font-size: 25px;
}

.rating .grey {
    color: #E2E2E2;
    font-size: 25px;
}

/*=========================== ACTIVITES ========================*/

#activite {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#activite h2 {
    font-size: 32px;
    margin-left: 20px;
}

#activite .containeur {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

#activite .containeur_act {
    width: 90%;
    background-color: #FFF;
    border-radius: 30px;
    margin: 10px 0;
    overflow: hidden;
}

.containeur_medium,
.containeur_petit,
#activite .containeur_act {
    box-shadow: 0px 5px 10px 1px #BBB;
}

#activite h4 {
    font-size: 22px;
    padding: 10px 20px 30px 20px;
    height: 40px;
    margin-left: 10px;
    overflow: hidden;
}

#activite .containeur_act img {
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/*hover*/

#activite .containeur_act:hover,
.containeur_petit:hover,
.containeur_medium:hover {
    transform: scale(1.05);
}

#activite .containeur_act,
.containeur_petit,
.containeur_medium {
    transition: .2s ease-in transform;
}

/*=====================================================*/
/*========================= FOOTER ====================*/

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    padding: 30px 0;
}


footer ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px 0px 10px 30px;
}

footer li {
    margin: 5px 0;
}

footer h4 {
    font-size: 18px;
}

footer a {
    font-size: 18px;
    transition: .3s ease-in-out color;
}

footer a:hover {
    color: #0065FC;
}

/*==========================================================*/
/*========================= Animation ======================*/

@keyframes filtres_animation {
    0% {
        width: 45px;
    }

    50% {
        width: 100%;
        color: #fff;
        background-color: #0065FC;
    }

    100% {
        width: 45px;
        color: #fff;
        background-color: #0065FC;
    }
}

.filtres input[type="checkbox"]:checked~i {
    animation: filtres_animation 0.7s ease both;
}

/*============================= Media queries =============================*/

@media (min-width: 769px) {

    /*====================== HEBERGEMENT ==================*/
    .containeur {
        justify-content: space-evenly;
        flex-flow: row wrap;
    }

    .containeur_medium {
        width: 40%;
        height: 320px;
    }

    /*=========================== ACTIVITES ========================*/

    #activite .containeur {
        flex-direction: row;

    }

    #activite .containeur_act {
        width: 40%;
    }

}